body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(0, 0, 59);
    color: white;
}
.back_image{
    width: 100%;
    position: absolute;

}
.background{
    background: url("/Images/background.jpg");
    width: 100%;
    height: 100vh;

}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 59, 0.611);
}

.logo img{
    width:15%;
    margin-top:25px;
    margin-left: 150px;
}
.header{
    position: relative;
    display: flex;
    flex-direction: row;
}
.lang
{
    background-color: black;
    color: white;
    border: 0 solid transparent;
    border-radius: 5px;
    padding: 4px;
    margin-right: 250px;
    margin-top: 25px;
}
.btn1{
    margin-top: -25px;
    margin-left: 100px;
}
.btn1 button{
    background-color: red;
    border: 0 solid transparent;
    border-radius: 5px;
    padding: 5px;
}
.btn1 a{
    color: white;
    text-decoration: none;

}
.content{
    position: relative;
}
.heading h1{
    color: white;
    font-size: 70px;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 0;
}
.heading h2{
    color: white;
    font-size: 20px;
    margin-left: 250px;
    font-weight: normal;

}
.signup{
    margin-left: 250px;
}
.signup button{
    background-color: red;
    border:0 solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}
.signup button a{
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 24px;

}
.signup input{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.589);
    border: 0 solid transparent;
    width: 40%;
    font-size: 24px ;
    color: white;
}
.main{
    padding-left: 10px;
    padding-right: 10px;
}
.section{
    display: flex;
}
.content1{
    background-image: linear-gradient(to bottom right,rgb(1, 1, 81),rgb(1, 1, 86),rgb(91, 1, 1));
    margin-top: -50px;
    margin-left: 50px;
    border-radius: 10px;
    width: 80%;
}
.content1,.content2, p,h2{
    margin-left:80px;
    margin-right: 80px;
}
.content2{
    background-image: linear-gradient(to bottom right,rgb(1, 1, 81),rgb(1, 1, 86),rgb(91, 1, 1));
    margin-top: -50px;
    border-radius: 10px;
    margin-right: 80px;
    margin-left: -50px;
    width: 80%;
}
.content3{
    background-image: linear-gradient(to bottom right,rgb(1, 1, 81),rgb(1, 1, 86),rgb(91, 1, 1));
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
    width: 80%;
}
.content3,.content4, p,h2{
    margin-left:80px;
    margin-right: 80px;
}
.content4{
    background-image: linear-gradient(to bottom right,rgb(1, 1, 81),rgb(1, 1, 86),rgb(91, 1, 1));
    margin-top: 50px;
    border-radius: 10px;
    margin-right: 80px;
    margin-left: -50px;
    width: 80%;
}
.wrapper{
    margin-left: 150px;
    margin-top: 100px;
    margin-right: 150px;
}
.que{
    background-color: rgba(0, 0, 110, 0.8);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.que:hover{
    background-color:rgba(0, 0, 151, 0.8) ;
}
.que i{
    font-size: 25px;
}
.active,
.que{
    background-color: rgba(0, 0, 110, 0.8);
}
.panel{
    background-color: rgba(0, 0, 110, 0.8);
    padding: 5px;
    display: none;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 20px;
}
.content5{
    margin-left: 80px;
    margin-top: 30px;
    font-size: 20px;
}
.signup2{
    margin-left: 80px;
}
.signup2 button{
    background-color: red;
    border:0 solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}
.signup2 button a{
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 24px;

}
.signup2 input{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.589);
    border: 0 solid transparent;
    width: 40%;
    font-size: 24px ;
    color: white;
}
.footer{
    margin-top: 100px;
    margin-left: 80px;

}
.box{
   margin: 10px;
   padding-left: 40px;
   padding-right: 150px;
}
.box a{
    display: inline-block;
    font-size:15px ;
    margin: 30px;
    padding: 2px;
    color: white;

}
.language p{
    margin-left: 0;
}